.ChangeTheme button {
    border-radius: 15px;
    padding: 10px 25px;
    border: none;
    font-family: 'DynaPuff', cursive;
    font-size: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 200ms ease-in-out;
}

.ChangeTheme button.light-theme {
    background-color: #aece57; 
    color: #fcf9f9; 
    margin-right: 30px;
    
}

.ChangeTheme button.dark-theme {
    background-color: rgb(5, 5, 5);
    color: rgb(78, 213, 247);
    margin-right: 30px;
}

.ChangeTheme button:hover {
    box-shadow: none;
    transform: translateY(5px);
}