.CowCollection {
    text-align: center;
    padding: 30px 20px;
    width: 600px; 
}


.CowCollection img {
    width: 50%;
    margin-top: 10px;
    border-radius: 50%;
    border: 3px solid #fcf9f9; ;
    box-shadow: 1px 1px 1px rgb(5, 5, 5, 0.5);
    cursor: pointer;
}

.CowCollection h5 {
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(5, 5, 5, 0.5);
    padding-bottom: 10px;
    cursor: pointer;
}

.CowCollection .light{
    color:  #fcf9f9; 
}

.CowCollection .dark{
    color: rgb(78, 213, 247);
 }

 .CowCollection .original{
    color: black;
    background: linear-gradient(108.1deg, rgb(167, 220, 225) 11.2%, rgb(217, 239, 242) 88.9%);
}