@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&display=swap');

.App {
  text-align: center;
  margin: 0 auto;
  width: 800px;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.App .main-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
